@charset "utf-8";

* {margin: 0;padding: 0;box-sizing: border-box; font-family: Dotum,'돋움',sans-serif;}
a:link , a:visited {text-decoration: none;color: inherit;}
li {list-style: none;}
/* 초기화 */
.ad {background-color: #4f79a9;}
.ad_box {margin: 0 auto;width: 1100px;height: 80px;}
/* 광고 */
header {background-color: #333;height: 91;border-bottom: 1px solid rgba(255, 255, 255, .2);}
.head_bg {width: 1100px;height: 91px;margin: 0 auto;position: relative;}
.logo {position: absolute;top: 22px;left: 480px;}
.menu_left {padding-top: 10px;}
.left_top a {display: inline;font-size: 13px;color: #888;margin: 0 20px 0 0;}
.left_top a:nth-child(4) {float: right;margin-right: 0;}
.left_top a:nth-child(5) {float: right;}
.left_top a:nth-child(6) {float: right;}
.left_top a:hover {text-decoration: underline;}
.left_bottom {margin-top: 20px;margin-left: 5px;}
.left_bottom img{margin-right: 20px;}
.menu_right a {position: absolute;}
.menu_right a:nth-child(2) {right: 10px;top: 46px;}
.menu_right a:nth-child(1) {right: 40px;top: 38px;}

.gnb {display: inline;}
.gnb > li {color: #fff;font-size: 15px;width: 32px;height: 38px;float: left;position: absolute;top: 45px;font-weight: 600;}
.gnb > li:first-child {left: 166px;}
.gnb > li:nth-child(2) {left: 256px;}
.gnb > li:nth-child(3) {left: 345px;}
.gnb > li:nth-child(4) {right: 347px;width: 48px;}
.gnb > li:nth-child(5) {right: 241px;width: 48px;}
.gnb > li:nth-child(6) {right: 150px;}




.lnb_bg {background-color: #444444;width: 1100px;height: 44px;position: absolute;top: 92px;display: none;z-index: 3;}
.lnb_box li {position: relative;}
.lnb_a li {display: inline;font-size: 15px;color: #fff;line-height: 44px;position: absolute;z-index: 5;display: none;}
.lnb_a li:first-child {left: 120px;}
.lnb_a li:nth-child(2) {left: 210px;}
.lnb_a li:nth-child(3) {left: 300px;}
.lnb_a li:nth-child(4) {left: 390px;}
.lnb_b li {display: inline;font-size: 15px;color: #fff;line-height: 44px;position: absolute;z-index: 5;display: none;}
.lnb_b li:first-child {left: 140px;}
.lnb_b li:nth-child(2) {left: 230px;}
.lnb_b li:nth-child(3) {left: 320px;}
.lnb_c li {display: inline;font-size: 15px;color: #fff;line-height: 44px;position: absolute;z-index: 5;display: none;}
.lnb_c li:first-child {left: 290px;}
.lnb_c li:nth-child(2) {left: 380px;}
.lnb_d li {display: inline;font-size: 15px;color: #fff;line-height: 44px;position: absolute;z-index: 5;display: none;}
.lnb_d li:first-child {right: 440px;}
.lnb_d li:nth-child(2) {right: 330px;}
.lnb_d li:nth-child(3) {right: 220px;}
.lnb_e li {display: inline;font-size: 15px;color: #fff;line-height: 44px;position: absolute;z-index: 5;display: none;}
.lnb_e li:first-child {right: 140px;}
.lnb_e li:nth-child(2) {right: 50px;}

/* header */
.main {height: 921px;background-color: #130d0c;}
.main_container {width: 1100px;height: 100%;position: relative;margin: 0 auto;}
.main_title a {position: absolute;color: #fff;top: 80px;font-size: 1em;}
.main_title a img {margin: 0 5px;top: 82px;}
.main_title a:first-child {right: 510px;font-weight: 400;width: 80px;height: 25px;border-bottom: 2px solid rgba(255, 255, 255, .2);}
.main_title a:last-child {font-size: 15px;color: #aaa;font-weight: 400;right: 0;}
.main_title a:last-child:hover {text-decoration: underline;}

.poster_cont {width: 1100px;}
.poster {display: inline-block;}
.poster a {width: 245px;height: 352px;display: block;top: 122px;position: absolute;}
.poster a img {width: 245px;height: 352px;border-radius: 5px;}
.poster a:nth-child(2) {left: 285px;}
.poster a:nth-child(3) {left: 570px;}
.poster a:last-child {right: 0px;}

.icon_a {width: 61px;height: 35px;background-color: rgba(0, 0, 0, 0.6);position: absolute;top: 130px;left: 220px;padding: 8px;border-radius: 3px;}
.poster_icon img {position: absolute;}



/* 245*352 */